{% extends "templates/info-header.html.twig" %}
{% block content %}
  {% for blog in blogs %}
    <div class="section mt-6">
        <div class="columns has-background-primary-light">
            <article class="columns featured">
              <div class="column is-one-quarter post-img ">
                <img src={{ blog.Image.url }} alt="">
              </div>
              <div class="column is-5 featured-content va">
                <div>
                  <h3 class="tag is-info">{{ blog.Label }}</h3>
                  <h1 class="title is-1">{{ blog.Title }}</h1>
                  <p class="post-excerpt">{{ blog.Excerpt }}</p>
                  <br>
                  <a href="/blog/{{ blog.Id }}" target="_self" class="button is-primary">Read More</a>
                </div>
              </div>
            </article>
        </div>
    </div>
  {% endfor %}
{% endblock %}