{% extends "templates/info-header.html.twig" %}
{% block content %}
  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
        {% for blog in blogs %}
          <div class="columns featured-post is-multiline">
            <div class="column is-12 post">
              <article class="columns featured">
                <div class="column is-7 post-img ">
                  <img src={{ blog.Image.url }} alt="">
                </div>
                <div class="column is-5 featured-content va">
                  <div>
                    <h3 class="heading post-category">{{ blog.Label }}</h3>
                    <h1 class="title post-title">{{ blog.Title }}</h1>
                    <p class="post-excerpt">{{ blog.Excerpt }}</p>
                    <br>
                    <a href={{ "/blog/" ~ blog.Id }} target="_self" class="button is-primary">Read More</a>
                  </div>
                </div>
              </article>
            </div>         
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}